// .header ul, .footer ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// .header ul li,
// .footer ul li {
//     display: inline-block;
// }

// .header ul li {
//     display: inline-block;
// }

// .footer ul li {
//     display: inline-block;
// }

// simple mixin
@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }
}

.header ul {
    @include inline-list();
    li {
        background-color: black;
        padding: .7em;
        a {
            color: white;
        }
    }
}

.footer ul {
    @include inline-list();
    li {
        background-color: salmon;
        padding: .4em;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

// argumen/parameter pada mixin
@mixin flex-box($direction: row, $space: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $space;
    align-items: center;
}

.container {
    @include flex-box(row-reverse, space-between);
    width: 600px;
    height: 400px;
    background-color: #eaeaea;
    .box {
        width: 60px;
        height: 60px;
        background-color: lightgreen;
        line-height: 60px;
        text-align: center;
    }
}