// simple mixin
@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
    }
}

// argumen/parameter pada mixin
@mixin flex-box($direction: row, $space: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $space;
    align-items: center;
}